<div class="product-item">
  <div class="image-container" (click)="navigateToProductDetails(product)">
    <img *ngIf="product.images.length>0"
         [src]="product.images[0] | image"
         alt="">
    <img *ngIf="product.images.length<=0" src="assets/images/first.png" alt="">
  </div>
  <div class="product-infos">
    <div class="name-price">
      <div class="name">{{product.name}}</div>
      <div class="price-price-after-discount">
        <div class="price" *ngIf="!product.discount">{{product.price}}TND</div>
        <div class="price" *ngIf="product.discount"><div class="discounted">{{product.price}}TND</div><span class="price-after-discount">-{{product.price*(1-product.discount.value/100) | number : "1.1-3"}}TND</span></div>
      </div>
    </div>
    <div class="descrption">
      {{product.description}}
    </div>
    <div class="product-card-footer">
      <div class="add-to-cart" (click)="addToBasket()" *ngIf="!isAdmin">Ajouter Au Panier</div>
      <div class="add-to-cart" (click)="makeDiscount()" *ngIf="isAdmin">Make Discount</div>
      <div class="discount" *ngIf="product.discount!=null">{{product.discount.value}}%</div>
    </div>
  </div>
</div>







