<div class="product-item">
  <div class="image-container" (click)="navigateToProductDetails(product)">
    <img *ngIf="product.images.length>0"
         [src]="product.images[0]"
         alt="">
    <img *ngIf="product.images.length<=0" src="assets/images/first.png" alt="">
  </div>
  <div class="product-infos">
    <div class="name-price">
      <div class="name">{{product.name}}</div>
      <div class="price-price-after-discount">
        <div class="price">{{product.price}}TND<span class="price-after-discount">-23TND</span></div>
      </div>
    </div>
    <div class="descrption">
      {{product.description}}
    </div>
    <div class="product-card-footer">
      <div class="add-to-cart" (click)="addToBasket()">Ajouter Au Panier</div>
      <div class="discount" *ngIf="product.discount!=null">{{product.discount.value}}%</div>
    </div>
  </div>
</div>
<!--         [src]="sanitize('data:'+product.images[0].type+';base64, '+_arrayBufferToBase64(product.images[0].data))"-->







