<div class="product-item">
  <div class="image-container">
    <img src="assets/images/first.png" alt="">
  </div>
  <div class="product-infos">
    <div class="name-price">
      <div class="name">{{product.name}}</div>
      <div class="price-price-after-discount">
        <div class="price">{{product.price}}TND<span class="price-after-discount">-23TND</span></div>
      </div>
    </div>
    <div class="descrption">
      {{product.description}}
    </div>
    <div class="product-card-footer">
      <div class="add-to-cart">Ajouter Au Panier</div>
      <div class="discount">15%</div>
    </div>
  </div>
</div>






