*{
  margin: 0;
}

.nav{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fceded;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);}

.logo{
  margin-left: 15px;
}


.logo-image{
  height: 50px;
  width: 50px;
}

.center-elements{
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.text{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin: 0;
}

.links{
  cursor: pointer;
}


.right-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.items{
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  transition: ease-out 0.5s;
}


.items:hover {
  background-color: bisque;
}

.icon{
  height: 30px;
}
