<div class="nav">
  <div class="logo">
    <img src="assets/images/DIDON'ART%20LOGO%20GOLD.png" alt="" class="logo-image">
  </div>
  <ul class="center-elements">
    <li class="links text" routerLink="" >Accueil</li>
    <li class="links text" routerLink="/shop">Nos Produit</li>
    <li class="links text" routerLink="/discount">Nos Promotions</li>
  </ul>
  <div class="right-items">
    <div class="items account links" routerLink="/user/profile">
      <span class="material-symbols-outlined hover">person</span>
      <p class="right-item-text text hover ">Compte</p>
    </div>
    <div class="items basket links" routerLink="/basket">
      <span class="material-symbols-outlined hover">shopping_cart</span>
      <p class="right-item-text text hover">Panier</p>
    </div>
    <div class="items basket links" routerLink="/user/login">
      <span class="material-symbols-outlined hover">shopping_cart</span>
      <p class="right-item-text text hover">Login</p>
    </div>
    <div class="items basket links" (click)="logout()" *ngIf="isAuthenticated">
      <span class="material-symbols-outlined hover">logout</span>
      <p class="right-item-text text hover">Logout</p>
    </div>
  </div>
</div>
