<br>
<div class="loading" *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="container" *ngIf="!isLoading">
  <div *ngIf="admin ">
    <mat-expansion-panel *ngFor="let order of orders"   >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Order ID</b>
        </mat-panel-title>

        <mat-panel-title>
          {{order.id}}
        </mat-panel-title>
        <!-- -->
        <mat-panel-title>
          <b>User</b>
        </mat-panel-title>

        <mat-panel-title>
          {{order.client.firstName + ' ' + order.client.lastName}}
        </mat-panel-title>
        <!-- -->
        <mat-panel-title>
          <b>Status</b>
        </mat-panel-title>

        <mat-panel-title>
          {{order.status}}
        </mat-panel-title>

        <!-- -->
        <mat-panel-title>
          <b>Total</b>
        </mat-panel-title>

        <mat-panel-title>
          {{totalCost(order)}}
        </mat-panel-title>

        <!-- -->
        <mat-panel-title>
          <b>Date</b>
        </mat-panel-title>

        <mat-panel-title>
          {{order.date | date:'medium'}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list  *ngFor="let product of order.orderProducts">
        <mat-list-item>
          <div class="products">
            <div class="info">{{product.product.name}}</div>
            <div class="price">
              <div class="info">Price: </div>
              <div>
                {{product.product.price}}
              </div>
            </div>
            <div class="itemsNumber">
              <div class="info">Number Of Items Ordered:</div>
              <div>{{product.itemsNumber}}</div>
            </div>
            <div class="image-container" (click)="navigateToProductDetails(product.product)">
              <img *ngIf="product.product.images.length>0"
                   [src]="product.product.images[0] | image"
                   alt="">
              <img *ngIf="product.product.images.length<=0" src="assets/images/first.png" alt="">
            </div>
          </div>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>

  </div>

  <div *ngIf="!admin ">
    <mat-expansion-panel *ngFor="let order of orders"   >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Order ID</b>
        </mat-panel-title>

        <mat-panel-title>
          {{order.id}}
        </mat-panel-title>

        <!-- -->
        <mat-panel-title>
          <b>Status</b>
        </mat-panel-title>

        <mat-panel-title>
          {{order.status}}
        </mat-panel-title>

        <!-- -->
        <mat-panel-title>
          <b>Total</b>
        </mat-panel-title>

        <mat-panel-title>
          {{totalCost(order)}}
        </mat-panel-title>

        <!-- -->
        <mat-panel-title>
          <b>Date</b>
        </mat-panel-title>

        <mat-panel-title>
          {{order.date | date:'medium'}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list  *ngFor="let product of order.orderProducts">
        <mat-list-item>
          <div class="products">
            <div class="info">{{product.product.name}}</div>
            <div class="price">
              <div class="info">Price: </div>
              <div>
                {{product.product.price}}
              </div>
            </div>
            <div class="itemsNumber">
              <div class="info">Number Of Items Ordered:</div>
              <div>{{product.itemsNumber}}</div>
            </div>
            <div class="image-container" (click)="navigateToProductDetails(product.product)">
              <img *ngIf="product.product.images.length>0"
                   [src]="product.product.images[0] | image"
                   alt="">
              <img *ngIf="product.product.images.length<=0" src="assets/images/first.png" alt="">
            </div>
          </div>        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>

  </div>

</div>
