<br><br>
<div class="container">
  <div *ngIf="admin ">
<mat-expansion-panel *ngFor="let order of orders"   >
  <mat-expansion-panel-header>
    <mat-panel-title>
      <b>Order ID</b>
    </mat-panel-title>

    <mat-panel-title>
         {{order.id}}
    </mat-panel-title>
    <!-- -->
    <mat-panel-title>
      <b>User</b>
    </mat-panel-title>

    <mat-panel-title>
      {{order.client.firstName + ' ' + order.client.lastName}}
    </mat-panel-title>
    <!-- -->
    <mat-panel-title>
      <b>Status</b>
    </mat-panel-title>

    <mat-panel-title>
      {{order.status}}
    </mat-panel-title>

    <!-- -->
    <mat-panel-title>
      <b>Total</b>
    </mat-panel-title>

    <mat-panel-title>
      {{totalCost(order)}}
    </mat-panel-title>

    <!-- -->
    <mat-panel-title>
      <b>Date</b>
    </mat-panel-title>

    <mat-panel-title>
      {{order.date | date:'medium'}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list  *ngFor="let product of order.orderProducts">
     <mat-list-item>
       <b>{{product.product.name}}</b>
       <div class="image-container" (click)="navigateToProductDetails(product.product)">
         <img *ngIf="product.product.images.length>0"
              [src]="product.product.images[0] | image"
              alt="">
         <img *ngIf="product.product.images.length<=0" src="assets/images/first.png" alt="">
       </div>
     </mat-list-item>
  </mat-list>

</mat-expansion-panel>

  </div>

  <!-- -->

  <div *ngIf="admin ">
    <mat-expansion-panel *ngFor="let order of orders"   >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Order ID</b>
        </mat-panel-title>

        <mat-panel-title>
          {{order.id}}
        </mat-panel-title>

        <!-- -->
        <mat-panel-title>
          <b>Status</b>
        </mat-panel-title>

        <mat-panel-title>
          {{order.status}}
        </mat-panel-title>

        <!-- -->
        <mat-panel-title>
          <b>Total</b>
        </mat-panel-title>

        <mat-panel-title>
          {{totalCost(order)}}
        </mat-panel-title>

        <!-- -->
        <mat-panel-title>
          <b>Date</b>
        </mat-panel-title>

        <mat-panel-title>
          {{order.date | date:'medium'}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list  *ngFor="let product of order.orderProducts">
        <mat-list-item>
          <b>{{product.product.name}}</b>
          <div class="image-container" (click)="navigateToProductDetails(product.product)">
            <img *ngIf="product.product.images.length>0"
                 [src]="product.product.images[0] | image"
                 alt="">
            <img *ngIf="product.product.images.length<=0" src="assets/images/first.png" alt="">
          </div>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>

  </div>

</div>

