<div class="product">
  <div class="images">
    <div class="hero-image">
      <img src="assets/images/first.png" alt="hero" class="hero">
    </div>
    <div class="secondary-images">
      <img src="assets/images/first.png" alt="hero" class="secondary">
      <img src="assets/images/second.png" alt="sedondary" class="secondary">
      <img src="assets/images/second.png" alt="secondary" class="secondary">
    </div>
  </div>
  <div class="product-infos">
    <div class="category">statuettes</div>
    <div class="product-name">Sofa Paziolli</div>
    <div class="product-price">50.000 TND</div>
    <div class="basket-items">
      <div class="items-number">
        <div class="number-input">
          <input type="number" name="number" id="number">
        </div>
        <div class="icrement-decrement">
          <img src="assets/images/increment.svg" class="input-control increment">
          <img src="assets/images/decrement.svg" class="decrement input-control">
        </div>
      </div>
      <button class="add-to-cart" type="button">AJOUTER AU PANIER</button>
    </div>
    <div class="product-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
</div>
<hr>



