<!-- ============== SECTION PAGETOP ============== -->
<section class="bg-primary padding-y-sm">
  <div class="container">
    <ol class="breadcrumb ondark mb-0">
      <li class="breadcrumb-item"> <a routerLink="/">Home</a>  </li>
      <li class="breadcrumb-item active"> Shopping cart  </li>
    </ol>
  </div> <!-- container //  -->
</section>
<!-- ============== SECTION PAGETOP END// ============== -->

<section class="padding-y bg-light">
  <div class="container">

    <!-- =================== COMPONENT CART+SUMMARY ====================== -->
    <div class="row">
      <div class="col-lg-9">

        <div class="card">
          <div class="content-body">
            <h4 class="card-title mb-4">Your shopping cart</h4>

            <div *ngFor="let item of basket.items ">
            <article class="row gy-3 mb-4">
              <div class="col-lg-5">
                <figure class="itemside me-lg-5">
                  <div class="aside"><img src="{{item.pictureUrl}}" class="img-sm img-thumbnail"></div>
                  <figcaption class="info">
                    <a href="#" class="title">{{item.productName}}</a>
                    <p class="text-muted"> {{item.brand}}</p>
                  </figcaption>
                </figure>
              </div>
              <div class="col-auto">
                <label>Number of products </label>
                <input id="occurrence" name="occurrence" type="number" style="width: 100px" class="form-check-input" >
              </div>
              <div class="col-lg-2 col-sm-4 col-6">
                <div class="price-wrap lh-sm">
                  <var class="price h6">{{getpricePerItem(item)}}</var>  <br>
                  <small class="text-muted"> {{item.price}} / per item </small>
                </div> <!-- price-wrap .// -->
              </div>
              <div class="col-lg col-sm-4">
                <div class="float-lg-end">
                  <button ng-click="removeBasketItem(item)"  class="btn btn-light text-danger"> Remove</button>
                </div>
              </div>
            </article>
            </div><!-- row.// -->

          </div> <!-- card-body .// -->

          <div class="content-body border-top">
            <p><i class="me-2 text-muted fa-lg fa fa-truck"></i> Delivery within 1 week</p>
            <p class="text-muted">Introducing our exquisite basket, crafted with love and attention to detail. This charming piece is designed to add a touch of elegance to any space. Made from durable materials, it exudes both beauty and functionality. Whether you use it for storing essentials, organizing trinkets, or displaying decorative items, our basket is a versatile addition to your home. Embrace its timeless appeal and elevate your interior with this small yet captivating treasure.</p>
          </div> <!-- card-body.// -->

        </div> <!-- card.// -->

      </div> <!-- col.// -->
      <aside class="col-lg-3">

        <div class="card mb-3">
          <div class="card-body">
            <form>
              <div class="form-group">
                <label class="form-label">Have coupon?</label>
                <div class="input-group">
                  <input type="text" class="form-control" name="" placeholder="Coupon code">
                  <button class="btn btn-light">Apply</button>
                </div>
              </div>
            </form>
          </div> <!-- card-body.// -->
        </div> <!-- card.// -->

        <div class="card">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Total price:</dt>
              <dd class="text-end"> {{total()}} TND</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Discount:</dt>
              <dd class="text-end text-success">discount <!-- you need to add here the discount price--> </dd>
            </dl>
            <dl class="dlist-align">
              <dt>Delivery :</dt>
              <dd class="text-end"> 7.00 DT </dd>
            </dl>
            <hr>
            <dl class="dlist-align">
              <dt>Total:</dt>
              <dd class="text-end text-dark h5"> <!--prix final ici --> DT </dd>
            </dl>

            <div class="d-grid gap-2 my-3">
              <a  routerLink="/order" class="btn btn-success w-100"> Order Now  </a>
              <a routerLink="/" class="btn btn-light w-100"> Back to shop </a>
            </div>
          </div> <!-- card-body.// -->
        </div> <!-- card.// -->

      </aside> <!-- col.// -->

    </div> <!-- row.// -->
    <!-- =================== COMPONENT 1 CART+SUMMARY .//END  ====================== -->

    <br><br>

  </div> <!-- container .//  -->
</section>

