<div class="container rounded bg-white mt-5 mb-5" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">

        <span class="font-weight-bold"></span><span class="text-black-50"></span><span> </span></div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">New Product</h4>
        </div>
        <form (ngSubmit)="OnSubmit(f)" #f="ngForm" >
          <div class="row mt-2">
            <div class="col-md-6">
              <label class="labels" for="productname">Product Name</label>
              <input ngModel type="text" name="productname" class="form-control" id="productname"  />

            </div>
            <div class="col-md-6">
              <label class="labels" for="price">Price</label>
              <input ngModel type="text" name="price" class="form-control" id="price" required />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <label class="labels" for="itemsnumber">Items Number</label>
              <input ngModel type="number"  name="itemsnumber" class="form-control" id="itemsnumber"   required >
            </div>



            <div class="col-md-6">
              <div class="col-md-12">
                <label class="labels" for="categoryname">Category Name</label>
                <input ngModel type="text"  name="categoryname" class="form-control" id="categoryname"   required >
              </div>
            </div>

            <div class="col-md-12">
              <label class="labels" for="description">Description</label>
              <input ngModel type="email" name="description" class="form-control" id="description"  required />
            </div>
          </div>

          <button type="submit">submit</button>
        </form>
                  </div>
                </div>


              </div>
            </div>
