<div class="loading" *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>


<div class="add-product">
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
  <form class="form" [formGroup]="addProductForm" (ngSubmit)="OnSubmit()">
      <div class="product-basic-info margin">
        <div class="name info">
          <label for="name" class="">Product Name</label>
          <div><input name="name" id="name" class="input input-info" formControlName="name"></div>
        </div>
        <div class="price info">
          <label for="price" class="">Price</label>
          <div><input name="price" id="price" type="number" class="input input-info" formControlName="price"></div>
        </div>
        <div class="itemNumber info">
          <label for="itemsNumber" class="">Items Number</label>
          <div><input name="itemsNumber" type="number" id="itemsNumber" class="input input-info" formControlName="itemsNumber"></div>
        </div>
      </div>
      <div class="categories info margin">
        <label for="categoryName">Product Category</label>
        <select id="categoryName" name="categoryName" class="input" formControlName="categoryName" >
          <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
        </select>
      </div>
      <div class="description info margin">
        <label for="description">Product Description</label>
        <textarea id="description" name="description" class="description" rows="4" formControlName="description"></textarea>
      </div>
    <div class="images info">
      <input type="file" id="upload" accept="image/*" multiple="true" (change)="onUpload($event)" formControlName="images" />
      <label for="upload">
        <span>Please select images</span>
      </label>
    </div>
      <div class="button margin">
        <button class="input cancel" type="reset">Cancel</button>
        <button class="input add" type="submit">Add Product</button>
      </div>
  </form>
</div>
