<div class="form">
  <h2 id="login">Login</h2>
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">

    <div ngModelGroup="personDetails" #personalDetail="ngModelGroup">

      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Your email.."
             name="email" ngModel required email>


      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Your password.."
             name="password" ngModel required #password="ngModel">
    </div>
    <div>
      <small *ngIf="password.invalid && password.touched">password is a required field</small>
    </div>

    <br><br>
    <input type="submit" value="Submit" id="btn">
    <a routerLink="/sign-up">I don't have an account !</a>
  </form>
</div>


